<main id="post-index" class="page">
  <%# Home, Users and Back buttons start %>
  <div id="user-page">
    <div class="btn-container">
      <%= link_to "Home", "../../" %>


      <div class="back-link-container">
        <%= link_to "Back", :back, class: "back-link" %>
      </div>
          <div class="users-link-container">
      <%= link_to "Users", users_path, class: "users-link" %>
    </div>
    </div>
    <%# End of Home, Users and Back buttons  %>
    <div class="single-post-container">
      <%# user post start %>
      <article class="post-article">
        <div class="info">
          <div>
            <h2 class="title"><%= @post.title %></h2>
            <p class="user-name">by <%= @user.name %></p>
          </div>
          <p class="posts-counter">
            Comment: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %>
          </div>
          <div class="post-body">
            <p><%= @post.text %></p>
          </div>
        </article>
        <%# End of user post %>
        <%# Comments container start %>
        <ul class="comments-container">
          <% if @comments.any?  %>
            <% @comments.each do |comment| %>
              <li>
                <p><%= User.find_by(id: comment.author_id).name %>: <%= comment.text %></p>
              </li>
            <% end %>
          <% else %>
            <li>No comments added yet...</li>
          <% end %>
        </ul>
        <%# End of Comments container  %>
      </div>
<%# start of add Comments container  %>
      <div class='add_like_comnt_div'>
<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>
<button ><%= link_to 'Add Comment', new_user_post_comment_path(user_id: @post.author, post_id: @post.id) %></button>
<%= form_with(model: @like, url: user_post_likes_path(user_id: @post.author, post_id: @post.id) ) do |f| %>
<%= f.submit "Add Like" ,class: 'add_like_btn'%>
<% end %>
</div>

<%# end of add Comments container  %>
    </main>